#maincontainer {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}

#searchbox {
    background:    none;
    border-color:  #999;
    color:         #ccc;
}

#prompt {
    margin-right: 24px;
}

button {
    background:    none;
    border-color:  #999;
    color:         #ccc;
}

button:hover {
    background: #222;
}

button:focus {
   color:       transparent;
   background:  #aaa;
   font-weight: normal;
}

#searchbox:focus {
    background: #222;
    box-shadow: none;
}

flowboxchild {
    transition-duration: 200ms;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #aaa;
    outline: none; /* https://askubuntu.com/a/1141668 */
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 2px;
}

flowboxchild:selected {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

flowboxchild.nav-cursor {
    border-color: rgba(255, 255, 255, 0.7);
}

#toolbar {
    margin-left:   24px;
    margin-right:  24px;
    margin-bottom: 12px;
}
